div{
    border-style:none;
    border-color: #468847;
    margin-left: 0;
}
.lang-div{
    width: 30%;
    display: inline;
    padding: 10px 10px 10px;
    cursor: pointer;
}
.about-header-div{
    width: 119px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    margin-left: 0px;
}
.news-hheader-div{
    width: 90.5px;
    margin-left: 0px;
    color:#ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(121,198,44);
}
body{
    background-color: rgb(214,231,251);

}
.row-margined-top{
    margin-top: 2%;
}
.lbl-our-team{
    color:#ffffff;
    text-align: center;
}
.container-our-team-header-div{
    background-color: rgb(232,76,61);
}
.our-team-container{
    text-align: center;
    background-color: rgb(235,244,253);

}
.our-team-container img{
    margin-top: 25px;
}